/* Variables CSS */
:root {
  --colorPrimary: #e0d9d2;
  --colorHighlightedPrimary: #e67d22;
  --colorHighlightedSecondary: #f39c12;
  --colorExtremeDanger: #e74c3c;
  --colorHighDanger: #e67d22;
  --colorModerateDanger: #f39c12;

  --backgroundPrimary: #1f140e;
  --backgroundSecondary: #3b281f;

  --fontFamilyPrimary: "Arial", sans-serif;
  --fontFamilySecondary: "Georgia", serif;
}

/* General Styles*/
html {
  scroll-behavior: smooth;
}
body {
  max-width: 80%;
  margin: 0 auto;
  color: var(--colorPrimary);
  background-color: var(--backgroundPrimary);
  font-family: var(--fontFamilyPrimary);
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  color: var(--colorHighlightedPrimary);
  font-size: 1.3rem;
}
p {
  font-family: var(--fontFamilySecondary);
  font-size: 1.5rem;
  line-height: 1.7;
}
a {
  font-size: 1.5rem;
}
section {
  scroll-margin-top: 105px;
}
section h2:not(footer h2) {
  margin-top: 100px;
  padding: 20px;
}
footer section:nth-child(1),
footer section:nth-child(3) {
  margin: 50px 0 0 0;
}
h2:not(footer h2) {
  border-bottom: 4px solid var(--backgroundSecondary);
  text-align: center;
}
footer section:nth-child(3) {
  border-top: 4px solid var(--backgroundSecondary);
}
footer section,
footer nav {
  padding: 40px;
}
.sectionBasicStyle {
  margin-top: 50px;
  padding: 40px;
  background-color: var(--backgroundSecondary);
}

/* Header Styles */
.headerMenuIdentity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 130px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: black;
}
.headerMenuIdentity div a {
  margin: 0 10px;
}
.headerMenuIdentity nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerMenuIdentity nav ul li {
  padding: 10px;
}
/* Header states styles */
.headerMenuIdentity nav ul li a {
  position: relative;
}
.headerMenuIdentity nav ul li a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.5s;
  background-color: var(--colorHighlightedSecondary);
}
.headerMenuIdentity nav ul li a:hover {
  color: var(--colorHighlightedSecondary);
}
.headerMenuIdentity nav ul li a:hover:after {
  width: 100%;
}
/* Hero Banner Styles */
.heroBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/projectImages/apocalipsisBanner.jpg");
  background-size: cover;
  gap: 20px;
}
.heroBanner p {
  font-size: 2rem;
  opacity: 0.5;
}
#ctaButton {
  font-weight: bold;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--colorHighlightedPrimary);
  box-shadow: 0 4px 10px 1px black;
  transition: all 1s;
}
#ctaButton:hover {
  border: 2px solid;
  background-color: var(--colorHighlightedSecondary);
}
