/* Variables CSS */
:root {
  --colorPrimary: #e0d9d2;
  --colorHighlightedPrimary: #e67d22;
  --colorHighlightedSecondary: #f39c12;
  --colorExtremeDanger: #e74c3c;
  --colorHighDanger: #e67d22;
  --colorModerateDanger: #f39c12;

  --backgroundPrimary: #1f140e;
  --backgroundSecondary: #3b281f;

  --fontFamilyPrimary: "Arial", sans-serif;
  --fontFamilySecondary: "Georgia", serif;
}

/* General Styles*/
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  color: var(--colorPrimary);
  background-color: var(--backgroundPrimary);
  font-family: var(--fontFamilyPrimary);
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
}
h2:not(footer h2) {
  margin: 70px 0;
}
footer h2 {
  margin-top: 60px;
}
h3 {
  color: var(--colorHighlightedPrimary);
  font-size: 1.5rem;
  text-align: center;
  margin: 0 0 30px 0;
}
h4 {
  font-size: 1.4rem;
  text-align: center;
}
p {
  font-family: var(--fontFamilySecondary);
  font-size: 1.5rem;
  line-height: 1.5;
}
a {
  font-size: 1.5rem;
}

section {
  scroll-margin-top: 105px;
}
section:not(.heroBanner),
footer {
  max-width: 1300px;
  margin: 0 auto;
}
section h2,
footer h2 {
  padding: 20px;
}

h2:not(footer h2) {
  border-bottom: 4px solid var(--backgroundSecondary);
}

footer section:nth-child(1),
footer section:nth-child(2) {
  border-top: 4px solid var(--backgroundSecondary);
}
footer section,
footer nav {
  padding: 40px;
}
.sectionBasicStyle {
  height: auto;
  padding: 50px;
  background-color: var(--backgroundSecondary);
}

/* Header styles */
.headerMenuIdentity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 130px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: black;
}
.headerMenuIdentity div a {
  margin: 0 10px;
}
.headerMenuIdentity nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerMenuIdentity nav ul li {
  padding: 10px;
}
/* Header states styles */
.headerMenuIdentity nav ul li a {
  position: relative;
}
.headerMenuIdentity nav ul li a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.5s;
  background-color: var(--colorHighlightedSecondary);
}
.headerMenuIdentity nav ul li a:hover {
  color: var(--colorHighlightedSecondary);
}
.headerMenuIdentity nav ul li a:hover:after {
  width: 100%;
}
/* Hero Banner Styles */
.heroBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/projectImages/apocalipsisBanner.jpg");
  background-size: cover;
  gap: 20px;
}
.heroBanner p {
  font-size: 2rem;
  opacity: 0.5;
}
#ctaButton {
  font-weight: bold;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--colorHighlightedPrimary);
  box-shadow: 0 4px 10px 1px black;
  transition: all 1s;
}
#ctaButton:hover {
  border: 2px solid;
  background-color: var(--colorHighlightedSecondary);
}
/* Description section styles */
#description div p:not(p:last-child) {
  margin: 0 auto 30px;
}
/* History section styles */
#history .sectionBasicStyle:nth-of-type(2) ol li:nth-child(2) {
  margin: 50px 0;
}
#history .sectionBasicStyle:nth-of-type(2) div div {
  display: flex;
  justify-content: center;
}
#history .sectionBasicStyle:nth-of-type(2) ol li div p {
  text-align: center;
}

.iconsHistory {
  padding-left: 50px;
  position: relative;
}

#iconFirstSubsectionHistory:before {
  content: "💣";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: 1.5rem;
  line-height: 1;
}
#iconSecondSubsectionHistory:before {
  content: "🏰";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: 1.5rem;
  line-height: 1;
}
#iconThirdSubsectionHistory:before {
  content: "👨‍👧‍👧";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: 1.5rem;
  line-height: 1;
}
/* Culture section styles */
#flexCultureSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

#flexCultureSection figure,
#flexCultureSection .sectionBasicStyle:nth-of-type(3) {
  grid-column: 1 / 3;
}
#flexCultureSection div > p {
  margin-top: 30px;
}

#flexHistorySocialClases {
  display: flex;
  margin-top: 40px;
  gap: 30px;
}

#flexHistorySocialClases div {
  flex-basis: calc(33.333%);
}
#flexHistorySocialClases div h4 {
  color: var(--colorHighlightedPrimary);
  text-decoration: underline;
}
/* Geography section styles */
#flexGeographySection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

#flexGeographySection figure {
  text-align: center;
  grid-column: 1 / 3;
}
#flexGeographySection figure img {
  width: 100%;
  object-fit: cover;
}
#flexGeographySection div:nth-of-type(2) figure,
#flexGeographySection div:nth-of-type(1) p {
  margin: 30px 0;
}

table {
  width: 80%;
  margin: auto;
}
th,
td {
  padding: 10px;
}
thead {
  background-color: rgb(111, 91, 29, 0.4);
}
.extremeColorCell,
#highColorCell,
#moderateColorCell {
  text-align: center;
}
th:first-child,
td:first-child {
  font-weight: bold;
}
.extremeColorCell {
  color: var(--colorExtremeDanger);
}
#highColorCell {
  color: var(--colorHighDanger);
}
#moderateColorCell {
  color: var(--colorModerateDanger);
}
/* Economy section styles */
#economy > div {
  display: flex;
  gap: 30px;
}
#economy .sectionBasicStyle {
  width: 50%;
}
/* Footer styles */
footer p {
  text-align: center;
}
@media (max-width: 1400px) and (min-width: 768px) {
  html,
  body {
    max-width: 100%;
    overflow: hidden;
  }
  section:not(.heroBanner),
  footer {
    width: 90%;
    margin: auto;
    padding: 0 15px;
  }

  #economy > div {
    flex-direction: column;
  }
  #flexHistorySocialClases {
    flex-wrap: wrap;
  }
  #flexHistorySocialClases div:nth-child(1),
  #flexHistorySocialClases div:nth-child(2) {
    flex-basis: 48%;
    justify-content: center;
  }
  #flexHistorySocialClases div:nth-child(3) {
    flex-basis: 100%;
  }
}
@media (max-width: 768px) and (min-width: 350px) {
  html,
  body {
    max-width: 100%;
    overflow: hidden;
  }
  section:not(.heroBanner),
  footer {
    width: 90%;
    margin: auto;
    padding: 0 15px;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  p,
  a {
    font-size: 1.2rem;
    line-height: 1.4;
  }

  .headerMenuIdentity {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .headerMenuIdentity nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .headerMenuIdentity nav li {
    width: 50%;
  }

  .heroBanner h1 {
    font-size: 2rem;
    padding: 0 20px;
  }
  .heroBanner p {
    font-size: 1.5rem;
  }
  .heroBanner h1,
  .heroBanner p {
    text-align: center;
  }
  #ctaButton {
    font-size: 1.3rem;
  }

  #flexHistorySocialClases,
  #economy > div {
    flex-direction: column;
  }
  #flexHistorySocialClases div,
  #economy .sectionBasicStyle {
    width: 100%;
  }

  #flexCultureSection,
  #flexGeographySection {
    grid-template-columns: 1fr;
  }

  #flexCultureSection figure,
  #flexCultureSection .sectionBasicStyle:nth-of-type(3),
  #flexGeographySection div {
    grid-column: 1 / 2;
  }

  table {
    width: 100%;
  }
}
