* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
strong {
  font-weight: normal;
}
table {
  border-collapse: collapse;
}
